<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/contact.css">
</head>

<body>
    <div class="wrap-0">
        <div class="container">
            <div class="row">
<%- include('nav.ejs') %>
            </div>
        </div>
    </div>
    <div class="wrap-1">
        <div class="container">
            <div class="row">
                <div class="col-9">
                    <section>
                        <h2>Lost In Space</h2>
                        <img src="https://picsum.photos/200" alt="">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia rerum accusantium,
                            doloremque voluptas pariatur cupiditate.</p>
                        <button><a href="#">Read More</a></button>
                    </section>
                    <section>
                        <h2>Lost In Space</h2>
                        <img src="https://picsum.photos/200" alt="">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia rerum accusantium,
                            doloremque voluptas pariatur cupiditate.</p>
                        <button><a href="#">Read More</a></button>
                    </section>
                    <section>
                        <h2>Lost In Space</h2>
                        <img src="https://picsum.photos/200" alt="">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia rerum accusantium,
                            doloremque voluptas pariatur cupiditate.</p>
                        <button><a href="#">Read More</a></button>
                    </section>
                    <section>
                        <h2>Lost In Space</h2>
                        <img src="https://picsum.photos/200" alt="">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia rerum accusantium,
                            doloremque voluptas pariatur cupiditate.</p>
                        <button><a href="#">Read More</a></button>
                    </section>
                    <section>
                        <h2>Lost In Space</h2>
                        <img src="https://picsum.photos/200" alt="">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia rerum accusantium,
                            doloremque voluptas pariatur cupiditate.</p>
                        <button><a href="#">Read More</a></button>
                    </section>
                </div>
                <div class="col-3"></div>
            </div>
        </div>
    </div>
    <div class="wrap-2">
        <div class="container">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8">

                </div>
                <div class="col-2"></div>
            </div>
        </div>
    </div>
    <div class="wrap-5">
        <div class="container">
            <div class="row">
                <%- include("partials\footer.ejs") %>
            </div>
        </div>
    </div>
</body>

</html>