<div class="col-6">
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/data">Data</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="#">Profile</a></li>
        </ul>
    </nav>
</div>
<div class="col-6">
    <input type="search" name="search" id="" placeholder="search">
 </div>
 
 